* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-bottom: 100px;
}
header h1 {
  text-align: center;
  margin: 30px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;


  }
  nav a {
    background-color:lightgrey;
    padding: 2px;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3sec ease;

  }
  nav a:hover {
    background-color: #007bff;
    color: #fff;
  }
  nav a:active, nav a:focus {
    outline: 2px solid #007bff;
    background-color: #0056b3;
  }

#featured-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  position: relative;

}
#featured-property figure {
  margin-left: 100px;
}

#featured-property img {
    width: 800px;
    display: block;
    height: auto;
  }
  #featured-property figure figcaption {
    margin-top: auto;
    text-align: center;
  }

#featured-property p {

  margin-left: 200px;
  width: 800px;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin-top: 20px;
  color: #0056b3;
}

footer {
  background-color: red;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 100px;
  height: 12%;
}

#details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;

}

#details > div
{
  color: black;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 23%;
  float: left;
  box-sizing: border-box;
}
#detail div h3 {
  margin-bottom: 10px;

}

#detail div p {
  margin-top: 0;

}

@media (max-width: 768px)
{
  #details > div {
    width: 100%;
  }
}